{% extends 'main/base.html' %} {% block content %}
<section class="u-clearfix u-image u-section-2">
    <div class="u-clearfix u-sheet u-sheet-1">

        <div class="container">

            <div class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-container-style u-group u-white u-group-1" style="margin-right: 50px;">
                <div class="u-container-layout u-valign-top u-container-layout-1">

                    <div style="display: table; margin: 0 auto;">
                        <div style="float:left; margin: 0 50px;">
                            <div alt="" class="u-image u-image-circle u-image-1" data-image-width="1000" data-image-height="1500"></div>
                            <h3 class="u-align-center u-text u-text-1">Alp Eren Gocmen</h3>
                        </div>

                        <div style="float:left; margin: 0 50px;">
                            <div alt="" class="u-image u-image-circle u-image-2" data-image-width="1000" data-image-height="1500"></div>
                            <h3 class="u-align-center u-text u-text-1">Minel Ustgel</h3>
                        </div>
                    </div>
                    <p class="u-align-center u-text u-text-2">This website project is for our final year project. We decided to learn and use Python and Django Framework from scratch to build this website because we thought by using such technologies would contribute to our future professional life. Based
                        on this thought, we decided to call our project as "Project Future".
                    </p>

                    <p class="u-align-center u-text u-text-2" style="margin: 0; padding-top: 2rem;">
                        The starting point of the project was to allow users to translate the object in the photo they upload into a language of their choice. Since we know the importance of learning a language and the difficulty of learning new words, we thought such a system would be useful. We used Cloud Vision API and Cloud Translate API to perform these functions. Although the project currently performs its intended functions, we intend to add and develop new functions in the future.
                    </p>

                    <p class="u-align-center u-text u-text-2" style="margin: 0; padding-top: 2rem;">
                        We had a lot of fun while we developing this project and it helped us to learn new vocabulary. We hope that you have fun like us and it helps you to learn new words. 
                    </p>
                </div>
            </div>
        </div>
    </div>


</section>
{% endblock content %}