 {% block footer %}
    <footer class="footer section" style="">
        <table style="width:100%;">
            <tr valign='top'>
                <td>
                    <div class="footer-container grid">

                        <div class="fotoer-box">
                            <h3 class="footer-title">Explore</h3>
                            <ul>
                                <li><a href="/" class="footer-link">Home</a></li>
                                <li><a href="/gallery" class="footer-link">Gallery</a></li>
                                <li><a href="/about" class="footer-link">About</a></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="footer-container grid">
                        <div class="footer-box">
                            <h3 class="footer-title">Minel Ustgel</h3>
                            <img class="avatar" src="../../static/img/abigail0.png" alt="minel" width="100">
                        </div>


                        <div class="fotoer-box">
                            <h3 class="footer-title">Social</h3>

                            <a href="https://www.linkedin.com/in/minel-%C3%BCstgel-b6965b192/" class="footer-social"><i class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/Venuin" class="footer-social"><i class="fab fa-github"></i></a>
                            <a href="https://www.twitch.tv/venuin" class="footer-social"><i class="fab fa-twitch"></i></a>
                            <a href="https://steamcommunity.com/id/venuin/" class="footer-social"><i class="fab fa-steam"></i></a>
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                        </div>

                    </div>
                </td>
                <td>
                    <div class="footer-container grid">
                        <div class="footer-box">
                            <h3 class="footer-title">Alp Eren Gocmen</h3>
                            <img class="avatar" src="../../static/img/cvbcvbcvb.png" alt="gimbir" width="100">
                        </div>

                        <div class="fotoer-box">
                            <h3 class="footer-title">Social</h3>

                            <a href="https://www.linkedin.com/in/aerengocmen/" class="footer-social"><i class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/gimbir/" class="footer-social"><i class="fab fa-github"></i></a>
                            <a href="https://www.twitch.tv/gimbir" class="footer-social"><i class="fab fa-twitch"></i></a>
                            <a href="https://steamcommunity.com/id/gimbir" class="footer-social"><i class="fab fa-steam"></i></a>
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                        </div>

                    </div>
                </td>
            </tr>

        </table>
    </footer>
    {% endblock footer %}